@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
      background-image:linear-gradient(rgba(250, 243, 243, 0.596),rgba(52, 126, 145, 0.89)),url(login.jpg);
height:100vh;
background-position:center;
background-size:cover;
background-attachment: fixed;

}
/*------------------------------------------------HEADERI---------------------------------------------------------------*/
     header{ /*headeri */
        height:0px;
        width:100%;
        z-index:12;
        position:fixed;
        
        }
   
     .nav-up{/*it help when we scroll to hide header*/
      top: -70px;
       
    }
  
  ul{
      text-align: left;
       }
    
    ul li {
        display: flex ;
              margin: 0 10px;
    }

    ul li a{
        color: #000;
        font-size: 17px;
        padding: 0px 10px;
        border-radius: 3px;
        text-transform: uppercase;
       font-weight: 700;
      /* margin-top: 15px !important; */
      text-decoration: none;
    }

 a.aktive , a:hover{
        background: #FFF;
        transition: .5s;
        color:#1F1F1F !important;
    }

   
    /*----------------------------------------------------------LOGO-----------------------------------------------*/
      .logo{
          height: 100px;
          width: 100px;
          float: left;
          margin-top: -50px;
          margin-left:10px;
          
        }
         .a-logo:hover{
         background-color: transparent;
       }
/*----------------------------------------------------------SOCIAL MEDIA-----------------------------------------------*/

  .social-media ul{
        position:absolute;
       float: right;
        display: flex;
          margin-left:30px;
        }
        
        .social-media ul li {
        list-style:none;
        margin:0 -5px;
         
        }
   .social-media ul li .fa{
        font-size: 30px;
        transition:0.6s;
        padding: 5px;
        border-radius:25%;
        border: none; 
        background-color: #fff;
       }
         
   .social-media ul li a:hover {
       background-color:transparent; 
       border: none;
        }

.fa-instagram, .fa-envelope-o ,.fa-whatsapp{
  color:#1F1F1F;
  transition: .1s;
}

   .fa-instagram:hover{  
        color: #fff;
         background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        }

         .fa-envelope-o:hover{
           color:#fff;
            background:linear-gradient(#0489c9 30%,rgb(173, 223, 241) ) ;
        }
        .fa-whatsapp:hover{
            color:#fff;
             background: linear-gradient(#25d366,#25d366);
           }
      
        
       .shopping-cart{
         /* margin-left: 90%; */
          margin-top:0px;
          position: relative;
          color: white !important;
         
}
    



/*------------------------------------LOG IN----------------------------------------------------------------------------*/
.login-title{/*shkrimi i log in*/
    font-size: 36px;
letter-spacing: 1px;
text-align: center;
font-family: 'Source Serif 4', sans-serif;
font-weight: 700;
}


.login{/*katerori i log in*/
   position: absolute;
    height: 600px;
    width: 400px;
   background:linear-gradient(rgb(25, 136, 170) , #fff );
    text-align: center;
   top: 20%;
    border-radius: 5%;
    left: 35%;
}
.user{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}

label{/*shkrimet si emri mbiemri*/
    font-size: 22px;
    letter-spacing: 1px;
    font-weight:200;
    font-style: inherit;

}
.input{/*fushat te cilat duhet me mbushen*/
height: 40px;
width: 250px;
border: none;
border-bottom: 2px solid #333;
border-color: lightblue;

}

input:hover {
    font-size: 18px;
    background-color:#fffacd;
    color: black;

transition:1s;
}

.submit, .reset{/*butoni per submit ne pjesen e log in*/
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  width: 120px;
}
.reset{/*butoni per reset ne pjesen e log in*/
   background-color: #9eb6a7;
     margin-left: 10px;
  
}
.reset:hover,.submit:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.btn{/*butoni per Sign up  ne pjesen e log in*/
    width:255px;
    height: 50px;
  align-items: center;
  border-radius: 100px !important;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
}


.btn:hover {
  background-position: -20px -20px;
  transition: .5s;
}






/*---------------------------------------------SIGN UP----------------------------------------------------------*/

.signup-title{/*shkrimi sign up */
    font-size: 36px !important;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20%;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 700;
}

.modal {/*pjesa kur klikojm sign up na qet katerorin tjeter */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)) ,url(images/2.jpg);
   
    background-position:center;
    background-size:cover;
    padding-top: 50px;
  }

.signup{/*katerori i sign up */
    height: 800px;
    width: 400px;
    background-color: #fff;
    margin-left: 30%;
   border-radius: 5%;
   text-align: center;
    
}
  .close {/* butoni per mbyllje te sign up apo X */
    position: fixed;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
        color: #fff;
  }

  .close:hover{
    color: #f44336;
    cursor: pointer;
  }